{% extends "base.html" %}
{% load staticfiles %}


{% block headercontent %}
    <meta charset="UTF-8">
    <title>Title</title>


    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
{% endblock headercontent %}



{% block body_content %}
    <div class="container">
    <h1>DreamTV Youtube LinkBuilding Generator</h1>
    <a type="button" class="btn btn-primary" href="{% url 'url_generator:add_urls' %}">Add urls</a>
    <a type="button" class="btn btn-warning" href="{% url 'url_generator:add_search_urls' %}">Add search urls</a>
    <a type="button" class="btn btn-warning" href="{% url 'url_generator:parse_urls' %}">Parce urls</a>
    <a type="button" class="btn btn-info" href="{% url 'url_generator:check_urls' %}">Check urls</a>
    <br />
    <br />
    <br />

    <h2>Generate links (active urls: {{ active_count }})</h2>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
{% comment %}		<div>
            <div class="input-group">

                {% bootstrap_field form.youtube_url  %}


            </div>
		<div>
            {% bootstrap_field form.description  %}

		</div>
		<div>
			<h4>Количество вариаций анкора</h4>
            {% bootstrap_field form.desc_variations  %}
		</div> {% endcomment %}

            {% bootstrap_form form %}

            <button type="submit" class="btn btn-default btn-lg">
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Отправить
            </button>

	</form>

{% endblock body_content %}

